<section class="2xl:my-20 lg:my-14 my-12">
    <div class="container flex items-start lg:flex-nowrap flex-wrap lg:gap-6">
        <div class="lg:w-2/5 w-full">
            <h2 class="max-w-[480px]">{{ section_title }}</h2>
            {{ button }}
                <a href="{{ link }}" class="btn btn-secondary lg:!inline-block !hidden">{{ text }}</a>
            {{ /button }}
        </div>
        <div class="lg:w-3/5 w-full lg:pl-10">
            {{ steps }}
                <div class="lg:mb-6 mb-5 lg:pl-20 lg:pt-4 sm:pl-10 relative">

                    <span
                        class="text-primary-900/15 2xl:text-6xl lg:text-5xl sm:text-3xl text-2xl font-bold sm:absolute  text-end -left-2 top-0">0{{ count }}.</span>
                    <p class="2xl:text-[22px] lg:text-xl text-lg text-gray-800 font-[600] mb-2.5 mt-3">{{ heading }}
                    </p>
                    <p class="2xl:text-[20px] lg:text-lg text-md">{{ description }}</p>
                </div>
            {{ /steps }}
            {{ button }}
                <a href="{{ link }}" class="btn btn-secondary lg:!hidden !inline-block sm:mt-4 mt-2">{{ text }}</a>
            {{ /button }}
        </div>
    </div>
</section>